.body {
  background-color: #a5f1e1;
  border-radius: 20px;
  border: 5px solid black;
  width: 100%;
}

.titulo-edit {
  color: #000;
}

.body-form {
  align-items: center;
}

.body-form div {
  align-items: start;
  text-align: start;
}

.botao {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 10px 5px;
}

.body-form input {
  width: 60%;
  height: 25%;
  margin-left: 5%;
}

label {
  font-weight: bold;
  font-size: larger;
}
